/* Add your custom styles here */
body {
  font-family: 'Noto Sans', sans-serif;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

.navbar {
  font-size: 18px;
  font-weight: bold;
}

.navbar img{
  padding-left: 20px;
  max-width: 190px;
}

.navbar-nav.ml-auto .nav-item {
  margin-right: 10px;
}

.section-heading {
  color: rgb(80, 80, 80); /* Fallback */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(80, 80, 80);
  letter-spacing: 3px;
  padding-bottom: 15px;
}

.text-justify {
  text-align: justify;
}

a.lang {
  box-sizing: border-box;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  background: #eee;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  color: #000;
}

a.lang-select {
  box-sizing: border-box;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  color:#ff8805;
  background: #eee;
  width: 100%;
  margin: 5px 0;
  text-align: center;
}

.caption {
  position: relative;
  color: #F9F5F6;
  text-align: center;
}

.carousel-inner {
  padding-top: 175px;
}

.parallax {
  background-image: url("../../assets/images/banner/slider-1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer li {
  padding-bottom: 10px;
}